In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("og_dataset.csv")
df

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column31,Column32,Column33,Column34,Column35,Column36,Column37,Column38,Column39,Column40
0,8292.0,394.0,1234.0,699.0,5518.0,307.0,5158.0,6868.0,3129,5585,...,1151,7720,1054,2385,8419,6573,2693,3578,3441,5822
1,9163.0,2140.0,8356.0,7399.0,127.0,7915.0,5917.0,8570.0,35,2480,...,5936,9848,1060,4293,7248,1188,2209,3165,9758,2245
2,5646.0,63.0,6490.0,8834.0,2521.0,1758.0,9921.0,4059.0,8949,3805,...,1061,7411,2177,7552,6245,4698,9310,6166,8758,8259
3,9972.0,3783.0,5060.0,8812.0,7494.0,766.0,5074.0,8312.0,1951,1450,...,5372,1325,7110,432,138,4605,1198,5213,2917,3150
4,6664.0,2733.0,5207.0,428.0,3899.0,8431.0,799.0,3665.0,4009,9987,...,5306,4019,6834,513,4447,733,8944,5247,4398,2954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8131.0,4433.0,1458.0,4716.0,8626.0,2862.0,6773.0,7615.0,9270,7433,...,276,8040,6096,1735,2756,4723,4597,9530,2339,3868
9996,6963.0,5721.0,3752.0,517.0,7087.0,3706.0,5795.0,9613.0,7755,3336,...,9219,3979,9695,2971,4496,6782,6678,291,6396,4433
9997,3627.0,7217.0,176.0,8342.0,3772.0,6210.0,8913.0,552.0,5362,7655,...,6081,8865,8791,6257,7207,2564,2468,6120,3116,7830
9998,3776.0,357.0,4008.0,450.0,2326.0,7098.0,7878.0,1781.0,1823,657,...,1913,4853,499,5921,5304,2825,3020,3183,4607,4843
9999,3841.0,2858.0,5365.0,6497.0,1559.0,4282.0,4124.0,5206.0,8377,3398,...,149,5056,6464,5515,1554,8023,9798,5678,3230,8175

In [3]:
import random 
# G
random.sample(range(1, 10000), 7)

[7497, 1075, 2414, 4060, 4333, 1128, 3316]

In [4]:
# O
random.sample(range(1, 10000), 15)

[3176,
 9408,
 4117,
 9407,
 3760,
 8547,
 205,
 7762,
 9487,
 7725,
 4294,
 7538,
 565,
 3055,
 5608]

In [5]:
# T
random.sample(range(1, 10000), 20)

[470,
 7449,
 8789,
 611,
 7056,
 526,
 4732,
 8910,
 5713,
 172,
 5835,
 1706,
 8462,
 9413,
 2656,
 9012,
 9192,
 1034,
 4203,
 4738]

In [6]:
# O
random.sample(range(1, 10000), 15)

[1717,
 8786,
 2467,
 4056,
 6729,
 3593,
 6685,
 747,
 9887,
 1836,
 6801,
 5076,
 9990,
 3141,
 2792]

In [7]:
# 1
random.sample(range(1, 10000), 1)

[7134]

In [8]:
# 2
random.sample(range(1, 10000), 2)

[8076, 1651]

In [9]:
# 1
random.sample(range(1, 10000), 1)

[9965]

In [10]:
# 2
random.sample(range(1, 10000), 2)

[9656, 1256]

In [11]:
# df['Column1'][0] = 'NaN'

In [12]:
df.isnull().sum()

Column1      7
Column2     15
Column3     20
Column4     15
Column5      1
Column6      2
Column7      1
Column8      2
Column9      0
Column10     0
Column11     0
Column12     0
Column13     0
Column14     0
Column15     0
Column16     0
Column17     0
Column18     0
Column19     0
Column20     0
Column21     0
Column22     0
Column23     0
Column24     0
Column25     0
Column26     0
Column27     0
Column28     0
Column29     0
Column30     0
Column31     0
Column32     0
Column33     0
Column34     0
Column35     0
Column36     0
Column37     0
Column38     0
Column39     0
Column40     0
dtype: int64